:root {
    --bradius: 1.3rem;
}

#main-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(18rem, 25%) 1fr minmax(18rem, 25%);

    height: 100vh;
    width: 100vw;
}
#main-grid *, .popup-body * {
    --matter-helper-theme: 165, 117, 98 !important;
    --matter-onsurface-rgb: 163, 165, 170 !important;
}
/*top level*/
#sidebar {
    grid-column: 1 / 2;
    background: teal;
    display: grid;
    grid-template: 4.25rem 1fr 1fr / 1fr; /*change 4.25fr to max-content later*/
}
#main-screen {
    grid-column: 2 / 3;
    background: var(--bg-secondary);
    display: grid;
    grid-template: 4.25rem 1fr 1fr / 1fr; /*change 4.25fr to max-content later*/
}
#download-queue {
    grid-column: 3 / 4;
    background: var(--bg-primary);
}

/*second level - main-screen*/
#searchHolder {
    z-index: 2;
    grid-row:  1 / 2;
    border-bottom-right-radius: var(--bradius);
    grid-column: 1 / 2;
}
#searchHolderbg {
    background: var(--bg-primary);
    grid-row:  1 / 2;
    grid-column: 1 / 2;
}
#primaryPick {
    grid-row: 2 / 3;
    background: darkkhaki;
    border-top-left-radius: var(--bradius);
    
}
#secondaryPick {
    grid-row: 3 / 4;
    background: bisque;
}

/*second level - sidebar*/
#nameHolder {
    grid-row:  1 / 2;
    background: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dl-options {
    grid-row: 2 / 4;
    background: coral;
}
/*#sources {
    grid-row: 3 / 4;
    background: pink;
}*/

#nameHolder, body, #dl-options, #searchHolder {
    background: var(--bg-secondary);
}
#primaryPick, #secondaryPick {
    background: var(--bg-primary);
}
#primaryPick {
    
}

